
    <div class="item-form row mb-3">
        {{ form.id }}
        {% for field in form.visible_fields %}
        <div class="col-md-2">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% if formset.can_delete %}
        <div class="col-md-1">
            {{ form.DELETE.label_tag }}
            {{ form.DELETE }}
        </div>
        {% endif %}
    </div>